body{
    margin: 0px;
}
.header{
    padding-top: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
    width: 100%;
    background-color: white;
}

.left{
    display: flex;
    flex: 1;
    margin-left: 15px;
    align-items: center;
}

.center{
    display: flex;
    flex: 2;
    align-items: center;
    justify-content: center;
}

.right{
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
    margin-right: 15px;
    gap: 23px;
}


.bars{
    display: flex; 
    align-items: center;  
}

.fa-bars{
    cursor: pointer;
    font-size: 22px;
}

.youtube-icon{
    color: #FF0000;
    padding-left: 18px;
    font-size: 31px;
}

.youtube-text{
    font-family: "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
    padding-left: 4px;
    font-size: 25px;
    font-weight: bold;
}

sup{
    font-size: xx-small;
}


.search-input{
    font-size: 12px;
    width: 480px;
    border: 2px solid #ccc;
    padding: 10px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-right: -5px;
}

.search-button{
    font-size: 12px;
    border: 2px solid #ccc;
    padding: 8px;
    cursor: pointer;
    border-left: none;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding-right: 16px;
    cursor: pointer;
    padding-bottom: 10px;
    padding-left: 15px;
}

.fa-search{
    font-size: 15px;
}

.icon-micro{
    font-size: 20px;
    margin-left: 15px;
    border: 2px solid #ccc;
    padding: 7px;
    border-radius: 50%;
    cursor: pointer;
}

.icon-micro:hover{
    background-color: rgb(193, 198, 202);
}

.search-button:hover{
    background-color: rgb(193, 198, 202);
}


.video-icon{
    font-size: 24px;
    cursor: pointer;
}


.bell-icon{
    font-size: 24px;
    cursor: pointer;
}


img{
    height: 35px;
    border-radius: 50%;
    cursor: pointer;
}

/* LEFT COLUMN YOUTUBE */

.column{
    background-color: aqua;
    margin-top: 22px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: flex-start;
    width: 200px;
}

ul{
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
}

.home{
    display: flex;
    align-items: center;
    gap: 12px;
}

.shorts{
    display: flex;
    align-items: center;
    gap: 12px;
}

.subscriptions{
    display: flex;
    align-items: center;
    gap: 12px;
}

.channel{
    display: flex;
    align-items: center;
    gap: 12px;
}

.history{
    display: flex;
    align-items: center;
    gap: 12px;
}

.playlists{
    display: flex;
    align-items: center;
    gap: 12px;
}

.yourvideos{
    display: flex;
    align-items: center;
    gap: 12px;
}

.watchlater{
    display: flex;
    align-items: center;
    gap: 12px;
}

.liked{
    display: flex;
    align-items: center;
    gap: 12px;
}

.sub{
    display: flex;
    align-items: center;
    gap: 12px;
}