body{
    margin: 0px;
    font-family: "Roboto", "Arial", sans-serif;
}
.header{
    padding-top: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: white;
}

nav{
    position: sticky;
    top: 0;
    z-index: 1000;
    width: 100%;
}

.left{
    display: flex;
    flex: 1;
    margin-left: 20px;
    align-items: center;
}

.center{
    display: flex;
    flex: 2;
    align-items: center;
    justify-content: center;
}

.right{
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
    margin-right: 15px;
    gap: 23px;
}

.bars{
    display: flex; 
    align-items: center;
    cursor: pointer;
}

.youtube{
    padding-left: 20px;
    font-weight: bold;
}

.search-input{
    font-size: 12px;
    width: 480px;
    border: 2px solid #ccc;
    padding: 10px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-right: -5px;
}

.search-button{
    font-size: 12px;
    border: 2px solid #ccc;
    padding: 8px;
    cursor: pointer;
    border-left: none;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding-right: 16px;
    cursor: pointer;
    padding-bottom: 10px;
    padding-left: 15px;
}

.fa-search{
    font-size: 15px;
}

.icon-micro{
    font-size: 20px;
    margin-left: 15px;
    padding: 7px;
    border-radius: 50%;
    cursor: pointer;
}

.icon-micro:hover{
    background-color: rgb(193, 198, 202);
}

.search-button:hover{
    background-color: rgb(193, 198, 202);
}


img{
    width: 28px;
    border-radius: 50%;
    cursor: pointer;
}

/* LEFT COLUMN YOUTUBE */

.column{
    background-color: aqua;
    margin-top: 22px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 200px;
    overflow-y: auto;
}


.home, .shorts{
    display: flex;
    align-items: center;
    gap: 12px;
}

.subscriptions, .liked, .sports, .super{
    display: flex;
    align-items: center;
    gap: 12px;
    border-bottom: 1px solid black;
    padding-bottom: 13px;
}

.channel, .history, .playlists, .yourvideos, .watchlater{
    display: flex;
    align-items: center;
    gap: 12px;
}

.sub, .explore{
    display: flex;
    align-items: center;
    font-weight: bold;
}

.arena, .blast, .israr, .saad{
    display: flex;
    align-items: center;
    gap: 12px;
}

.settings, .history, .help, .music, .gaming, .trending{
    display: flex;
    align-items: center;
    gap: 12px;
}

.about, .terms{
    font-size: 13px;
    color: grey;
    word-spacing: 5px;
    font-weight: bold;
}

